# Node
node_modules/

# Build
dist/
.vite/

# Env
.env

# Database
*.db
os.db

# Uploads
backend/uploads/

# Logs
npm-debug.log*
pnpm-debug.log*

# Mac / Windows
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
.coverage
